{% extends 'base.html' %}

{% block title %}Pipelines{% endblock %}

{% block content %}
<div id="app" class="container mt-4">
    <h2>Available Pipelines</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Pipeline Name</th>
                    <th>Organization</th>
                    <th>Description</th>
                    <th>Head</th>
                    <th>Tags</th>
                    <th>Branch</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="pipeline in pipelines">
                    <td><button type="button" class="btn btn-primary" @click="configure(pipeline)"><i class="bi bi-rocket-takeoff"></i></button></td>
                    <td>{{ '{{ pipeline.project }}' }}</td>
                    <td>{{ '{{ pipeline.organization }}' }}</td>
                    <td>{{ '{{ pipeline.description }}' }}</td>
                    <td><code>{{ '{{ pipeline.head.sha.substring(1, 7) }}' }}</code></td>
                    <td>
                        <select class="form-control form-control-sm" v-model="pipeline.tag" @change="checkout(pipeline, pipeline.tag, 'tag')">
                            <option class="font-monospace" v-for="tag in pipeline.tags" :value="tag">{{ '{{ tag }}' }}</eq-option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control form-control-sm" v-model="pipeline.branch" @change="checkout(pipeline, pipeline.branch, 'branch')">
                            <option class="font-monospace" v-for="branch in pipeline.branches" :value="branch">{{ '{{ branch }}' }}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
const { createApp } = Vue;
createApp({
    data() {
        return {
            pipelines: {{ pipelines | tojson }}
        };
    },
    methods: {
        checkout(pipeline, value, rtype) {
            const postData = {
                organization: pipeline.organization,
                project: pipeline.project,
                value: value,
                rtype: rtype
            };
            fetch('/api/checkout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(postData)
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); 
                } else {
                    throw new Error('Something went wrong on API server!');
                }
            })
        },
        configure(pipeline) {
            window.location.href = `/pipeline/${pipeline.organization}/${pipeline.project}`;
        }

    }
}).mount('#app');
</script>

{% endblock %}


